<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>


<i style="font-size: 320px; margin-left: 450px; margin-top: 50px;" class="fa fa-frown-o" aria-hidden="true"></i>
<h1 style="font-family: Courier New; margin-left: 230px; color: red; font-style: bold;">the page you are looking for doesn't exist</h1>
<span><a href="dormhome" style="font-size: 20px; margin-left: 500px; color: gray; text-decoration: none; text-decoration-line: none;">Return to DormRoom</a></span>








</body>
</html>