<!DOCTYPE html>
<html>
<head>
</head>
<body>

{%   include 'dormheader.html'           %}


<h1 style="margin-left: 400px; margin-top: 100px; font-size: 40px;">forgot your password?</h1>
<h2 style="margin-left: 380px; font-size: 30px;">no worries. enter your email below.</h2>


<form action="{{url_for('forgotpassword')}}" method="POST">
  <div class="form-group">
 
    <input type="email" style="width: 50%; margin-left: 290px; margin-top: 50px;" class="form-control" id="email" name="email" placeholder="school email here..." value="{{request.form['email']}}">
  </div>

     <input type="submit" style="margin-left: 550px;" name="button" value="send" class="btn btn-default"/>


</form>



{%  for message in get_flashed_messages()   %}
<div class="alert alert-danger alert-dismissible">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>{{message}}</strong> 
  </div>
{%   endfor  %} 


  



</body>
</html>